* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #520e0e;
}
h1 {
    text-transform: uppercase;
    color:rgb(104, 215, 215);
    text-align:center;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: rgb(126, 22, 22);
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}